@import '../core/variables.scss';

.header {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    min-width: 400px;
    max-width: 550px;

    &__menu-icon {
       padding: 1rem;
       position: relative;
       left: 80%;
       overflow: visible; 
    }        
}