.menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 45vh;
    background-color: transparent;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;

    &__wrapper {
        position: relative;
        top: 0;
        width: 100%;
        height: 40vh;
        background-image: url(../../images/texture.png);
        background-color: rgba(255, 255, 255, 0.432);
        border-radius: 0 0 50% 50%;
        border: 1px solid rgb(255, 255, 255);
        backdrop-filter: blur(4px);
        box-shadow: 1px 5px 20px 1px rgba(0,0,0,0.1), -1px -25px 43px -14px rgba(255,255,255,1) inset;
    }

    &__options {
        position: relative;
        top: 25%;
        text-align: center;

        &__item {
            padding: 0.5rem;
            font-size: 1.2rem;
        }

        &__item:hover {
            font-weight: bolder;
            font-size: 1.4rem;
        }
    }

    
}


