$main-font:'Oswald', sans-serif;;
$secondary-font: 'Gaegu', cursive;

$main-color: rgb(33, 33, 33);
// $secondary-color:

$star1-size: 11rem;
$star2-size: 5rem;
$star3-size: 7rem;
$star4-size: 3rem;


